<%- include('../partials/head', { title, active }) %>
<%- include('../partials/nav', { user, active }) %>
<section class="panel rich-text"><h1><%= title %></h1><pre class="error-pre"><%= message %></pre><a class="button" href="/">返回</a></section>
<%- include('../partials/footer') %>
